/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e9e9e0;
    padding-right: 1rem;
    padding-left: 1rem;
}

p{
    font-size: 1rem;
    color: #333333;
}

.center{
    align-self: center;
}


/* fonts */
@font-face {
    font-family: "cormorat";
    src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
}
.fontCormorat{
    font-family: "cormorat";
}

/* header */
header{
    padding-top: 1rem;
    padding-right:2rem;
    padding-left: 1.5rem;
}

h1{
    text-align: center;
    color: #333333;
    margin-bottom: 1.5rem;
}

/* date section flex */
.date{
    display: flex;
    justify-content:space-around;
    border-top: 6px double #333333;
    border-bottom: 6px double #333333;
    padding: .5rem;
    margin-bottom: 2rem;
}

.headline{
    text-align: center;
    font-size: 2.5rem;
}

.sponsors{
    text-align: end;
    padding-right: 4rem;
    font-size: 1.25rem;
    font-weight: bold;
}



/* main section grid container*/
.gridContainerMainSection{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding: .5rem;
}

/* article grid container */
.gridContainerArticle{
    width: 35vw;
    display: grid;
    gap: 0.5rem;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto;
}
.articleTitle{
    font-size: 1.75rem;
}

article{
    max-width: 18vw;
}

.knife{
    grid-column: 1/2;
}

.equipment{
    grid-column: 1/2;
}

/* kitchen img */
figure{
    grid-column: 2/3;
    width: 15rem;
}
figure img{
    max-width: 36vw;
}


/* aside add section grid container */
aside{
    grid-row: 1/3;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: .5fr;

    grid-template-rows: auto auto auto;
    justify-items: center;
    text-align: center;
}

div{
    border: 5px double grey;
    padding: .5rem;
    width: 19rem;
}

.yourAdd{
    font-size: 3.5rem;
    width: 17rem;
}

.knifeAdd{
    font-size: 2rem;
}
.bestKnives{
    color:grey;
    text-decoration:underline;
}

.ikeaLogo{
    width: 15rem;
    filter: grayscale(1);
}
